[submodule "community.wiki"]
	path = wiki/community
	url = https://github.com/redeclipse/community.wiki.git
[submodule "base.wiki"]
	path = wiki/base
	url = https://github.com/redeclipse/base.wiki.git
